* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
h1{
    display: inline;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}
.logo {
    vertical-align: middle;
}