* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f7f8fa;
}
header{
    padding-left: 30px;
    padding-top: 15px;
    background-color: white;
}
h1{
    display: inline;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}
.logo {
    display: inline;
    vertical-align: middle;
}
.general-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 15px;
    padding-left: 60px;
    padding-top: 15px;
    border-radius: 10px;
}
.button-container button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    border-radius: 5px;
    font-weight: 600;
}
.first-button {
    background-color: #42adeb;
    border: 1px solid #42adeb;
    color: white;
}
.second-button {
    background-color: white;
    color: #d6d6d6;
    border: 1px solid #d6d6d6;
}
.list-container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-container {
    padding-top: 15px;
    padding-bottom: 15px;
}
.section-container h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #45494a;
}
.section-container p{
    font-family: Arial, Helvetica, sans-serif;
    color: #585759;
    padding-top: 8px;
    padding-bottom: 8px;
}
.verde {
    color: #84b8a6;
    border: 1px solid #84b8a6 ;
    border-radius: 50%; 
}
.rosso {
    color: #b36d7b;
    border: 1px solid #b36d7b;
    border-radius: 50%; 
}



